{% extends "base.html" %}

{% block content %}

      <h1 class="my-4">
      Вход
      </h1>

<form method="post">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
        {{form.non_field_errors}}
    </div>
    {% endif %}
{% comment %} 
    {{form.as_div}} {% endcomment %}
    <div class="mb-3"><label class="form-label" for="id_username">Имя пользователя</label>
    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" placeholder="Имя пользователя" required id="id_username"></div>
<div class="mb-3"><label class="form-label" for="id_password">Пароль</label>
    <input type="password" name="password" autocomplete="current-password" class="form-control" placeholder="Пароль" required id="id_password"></div>
    <input class="btn btn-primary" type="submit" value="Войти">



</form>      
      

{% endblock content %}

