{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">    


      <h1 class="my-4">
      Пользователи
      </h1>
      
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Полное имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    
    {% for obj_user in object_list  %}
        <tr>
        <td>{{obj_user.id}}</td>
        <td>{{obj_user.username}}</td>
        <td>{{obj_user.get_full_name}}</td>
        <td>{{obj_user.date_joined}}</td>
        <td>
          <a href="{% url "user_update" obj_user.id %}">Изменить</a>
          <br>
          <a href="/users/1/delete/">Удалить</a>
        </td>
      </tr> 
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock content %}
